{% extends 'core/base.html' %}  

{% block title %}Acerca de{% endblock %}

{% block background%}{% load static %}{% static 'core/img/about-b.jpg' %}{% endblock %}

{% block headers %}
      <h1>Acerca de</h1>
      <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
      <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar2.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Darwin Antón</h2>   
          <p>Nacido en la cuidad de Manta/Manabí/Ecuador,
          Estudiado en el colegio "Tarqui"  </p>
          <p> Actualmente Estudiante De La Carrera De Sistemas En la Universidad Tecnica De Manabí, aspirante a crear Sofware, se microsoldadura para dispositivos electronicos.</p>
        </div>
      </div>  
    </div>
{% endblock %}
