{% extends 'core/base.html' %}  

{% block title %}Contacto{% endblock %}

{% block background%}{% load static %}{% static 'core/img/contact-b.jpg' %}{% endblock %}

{% block headers %}
       <h1>Contacto</h1>
       <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>“Hay sólo dos clases de lenguajes de programación: aquellos de los que la gente está siempre quejándose y aquellos que nadie usa”<h6>Bjarne Stroustrup</h6></p>
          <br>
          <p><b>Teléfono:</b> +593 95 901 8071</p>
          <p><b>Estudiante</b><p>
          <p><b>Correo:</b> danton5789@gmail.com<p>
        </div>
      </div>
    </div>
{% endblock %}
